$color-text-header: #3a3d49;
$color-text-regular: #777a83; 
$color-text-light: #d0d4da;

/* базовые цвета макета */
$color-bg: #F4F4F4;
$color-accent: #51be42;
$color-accent-2: #46df32; 
$color-accent-3: #228b14;



$border: 1px solid #d0d4da;
$border-easy: 1px solid rgba($color: #d0d4da, $alpha: 0.5);
$border-v-hidden: 1px solid #fff;

/* размеры экранов */
$screen-xxxs: 320px;
$screen-xxs: 440px;
$screen-xs: 540px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$disabled: #adadad;
$icon-fill: #b5b5b5;