@import "../../../commonStyles/variables";

.cartCheque {
  margin-top: 2rem;
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: $color-bg;

  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 8px;
    background-repeat: repeat-x;
    background-position: top left;
    background-image: url("cart-cheque.svg");
  }
  &__coupon {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-bottom: $border-easy;
  }
  &__piecesCount {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-bottom: $border-easy;

    & span {
      margin-right: 2.7rem;
      &::before {
        position: absolute;
        content: "шт.";
        right: 2rem;
      }
    }
  }
  &__subtotal {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-bottom: $border-easy;
    & span {
      &::before {
        position: absolute;
        content: "РМБ";
        margin-left: -1.5rem;
      }
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-bottom: $border-easy;
    & span {
      &::before {
        position: absolute;
        content: "РМБ";
        margin-left: -3.5rem;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-bottom: $border-easy;
  }

  &__radiobuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: $border-easy;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      input {
        margin-right: 0.7rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__deliveryForm {
    margin-top: 2rem;
    margin-bottom: 2rem;

    p {
      margin-bottom: 1rem;
      margin-top: 1rem;

      span {
        margin-left: 1rem;
      }
    }
  }

  &__qrContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pickupForm {
    margin-top: 2rem;
    margin-bottom: 2rem;

    &_address {
      width: 100%;

      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    
    label {
      margin-bottom: 1rem;
    }
  }

  &__pay {
    display: flex;
    justify-content: flex-end;
    padding: 3rem 2rem;
  }

  &__paid {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: $screen-md) {
    margin-top: 5rem;
    font-size: 1.7rem;

    &__coupon {
      padding: 1.8rem 1.8rem;
    }

    &__piecesCount {
      padding: 1.8rem 1.8rem;
      & span {
        margin-right: 3.5rem;
      }
    }

    &__subtotal {
      padding: 1.8rem 1.8rem;
      & span {
        &::before {
          position: absolute;
          content: "РМБ";
          margin-left: -1.5rem;
        }
      }
    }
    &__total {
      padding: 1.8rem 1.8rem;
      & span {
        &::before {
          position: absolute;
          content: "РМБ";
          margin-left: -4.5rem;
        }
      }
    }

    &__pay {
      & button {
        padding: 1.5rem 2rem;
        font-size: 2.2rem;
      }
    }
    
  }
}
